on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master
name: Check SRDB files

jobs:
  render:
    name: Check SRDB files
    runs-on: macOS-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2
      - uses: r-lib/actions/setup-r@v1
      - uses: r-lib/actions/setup-pandoc@v1
      - name: Install rmarkdown and needed packages
        run: |
          install.packages(c("ncdf4"))
        shell: Rscript {0}
      - name: Check SRDB files
        run: |
          Rscript -e './R/srdb_check.R'
